GitVoorbeeld/.vs/GitVoorbeeld/v14/.suo
GitVoorbeeld/GitVoorbeeld/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
GitVoorbeeld/GitVoorbeeld.sln
GitVoorbeeld/GitVoorbeeld/GitVoorbeeld.csproj
GitVoorbeeld/GitVoorbeeld/bin/Debug/GitVoorbeeld.exe
GitVoorbeeld/GitVoorbeeld/bin/Debug/GitVoorbeeld.exe.config
GitVoorbeeld/GitVoorbeeld/bin/Debug/GitVoorbeeld.pdb
GitVoorbeeld/GitVoorbeeld/bin/Debug/GitVoorbeeld.vshost.exe
GitVoorbeeld/GitVoorbeeld/bin/Debug/GitVoorbeeld.vshost.exe.config
GitVoorbeeld/GitVoorbeeld/bin/Debug/GitVoorbeeld.vshost.exe.manifest
GitVoorbeeld/GitVoorbeeld/obj/Debug/DesignTimeResolveAssemblyReferences.cache
GitVoorbeeld/GitVoorbeeld/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GitVoorbeeld/GitVoorbeeld/obj/Debug/GitVoorbeeld.csproj.FileListAbsolute.txt
GitVoorbeeld/GitVoorbeeld/obj/Debug/GitVoorbeeld.csproj.GenerateResource.Cache
GitVoorbeeld/GitVoorbeeld/obj/Debug/GitVoorbeeld.csprojResolveAssemblyReference.cache
GitVoorbeeld/GitVoorbeeld/obj/Debug/GitVoorbeeld.exe
GitVoorbeeld/GitVoorbeeld/obj/Debug/GitVoorbeeld.pdb
GitVoorbeeld/GitVoorbeeld/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
GitVoorbeeld/GitVoorbeeld/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
